@font-face {
    font-family: 'NotoSans Regular';
    src: url("./fonts/NotoSans-Regular.ttf");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'NotoSans Light';
    src: url("./fonts/NotoSans-Light.ttf");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'NotoSans SemiBold';
    src: url("./fonts/NotoSans-SemiBold.ttf");
    font-weight: normal;
    font-style: normal; }