@mixin regular {
    font-family: "NotoSans Regular";
    font-size: 1rem;
    line-height: 1.55;
}

@mixin digital {
    font-family: "NotoSans Light";
    font-size: .75rem;
    line-height: 1.33; 
}

@mixin display {
    font-family: "NotoSans SemiBold";
    font-size: 1.45rem;
    line-height: 1.125; 
}

@mixin number {
    font-family: "NotoSans SemiBold";
    font-size: 3.2rem;
    line-height: 1;
    letter-spacing: -1px; 
}

@mixin uppercase {
    font-family: "NotoSans Light";
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: .825rem; 
}

body {
    @include regular;
}
  
label {
    @include uppercase;
}
    
  
  a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black; }